# Python
__pycache__/
venv/
.pytest_cache/
*.py[cod]
*.pyo
*.pyd

# Website root
_ROOT-INDEX_/

# temp folder
temp/

# Binary folder
bin/

# Logs folder
logs/

# External Binaries, except the ones in the bin folder
external/
!src/local/external/

# template folder
templates/*

# database
*.db

# vs Code
.vscode/

# environment variables
*.env

# exported xlsx
*.xlsx

#? Temporary ignore
# Tests - Currently under development
tests/
run_tests.py
